* {
    box-sizing: border-box;
    font-family: 'Segoe UI';
    color: #eeeeee;
}

html, body {
    margin: 0;
    padding: 0;
    background: #111111;
}

body {
    margin: 1rem;
}

details {
    margin-block: 1rem;
}
summary {
    font-size: 1.4rem;
    cursor: pointer;
}

a {
    display: block;
    margin-block: 0.1rem;
}
a, a:visited {
    color: Highlight;
    text-decoration: none;
}


.rawmat-basic-li {
    color: #00bb00;
}
.rawmat-basicliquidgas-li {
    color: #0099bb;
}
.rawmat-nonearthlike-li {
    color: #bbbb00;
}
.rawmat-special-li {
    color: #bb00bb;
}